<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="./node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="./app.css">

    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/moment/min/moment.min.js"></script>
    <script src="./node_modules/select2/dist/js/select2.min.js"></script>
    <script src="./node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./node_modules/vue-router/dist/vue-router.min.js"></script>
    <script src="./node_modules/axios/dist/axios.min.js"></script>
    <script src="./sha256.js"></script>
  </head>
  <body>

    <div id="app">
      <div class="container">

        <div id="login" v-show="!authorized" v-cloak>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger alert-dismissible" role="alert" v-show="errorLogin" v-cloak>
                <button type="button" class="close" v-on:click="hideAlert()"><span aria-hidden="true">&times;</span></button>
                <h4>{{ errorLogin.status }}</h4>
                <p>{{ errorLogin.data }}</p>
              </div>
              <form v-on:submit.prevent="submitLogin()">
                <div class="form-group">
                  <input type="text" class="form-control" id="loginUsername" placeholder="Username" v-model="loginForm.username" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="loginPassword" placeholder="Password" v-model="loginForm.password" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>


        <div id="home" v-cloak v-show="authorized">
          <div class="row">
            <div class="col-md-12">
              <h2>Demo Front-end</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-body">
                  <button class="btn btn-primary" v-on:click="switchForm('SingleNotebook')">Single Notebook</button>
                  <button class="btn btn-primary" v-on:click="switchForm('Ensemble');">Ensemble</button>
                  <button class="btn btn-primary" v-on:click="switchForm('BuildEnsemble');">Build Ensemble</button>
                  <button class="btn btn-primary" v-on:click="switchForm('AB');">A/B</button>
                  <button class="btn btn-primary" v-on:click="switchForm('PerformanceAnalysis');">Performance analysis</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger alert-dismissible" role="alert" v-show="errorApp" v-cloak>
                <button type="button" class="close" v-on:click="hideAlert()"><span aria-hidden="true">&times;</span></button>
                <p>{{ errorApp }}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div id="formSingleNotebook" v-show="forms.SingleNotebook.visible">
                <div class="panel">
                  <div class="panel-body">
                    <h3>Execute a notebook with specific dataset</h3>
                    <div class="text-center">
                      <div class="loading-pulse" v-show="forms.SingleNotebook.isLoading"></div>
                    </div>
                    <form>

                      <div class="form-group">
                        <label for="">Notebook</label>
                        <select class="js-select form-control" id="SingleNotebook_notebook_id">
                          <option v-for="option in formsDataSets.formA.notebooks" v-bind:value="option.id">{{ option.description }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Datasets</label>
                        <select class="js-select form-control" id="SingleNotebook_datasets" multiple>
                          <option value=""></option>
                          <option v-for="option in formsDataSets.formA.datasets" v-bind:value="option.id">{{ option.description }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Initiator</label>
                        <select class="js-select form-control" id="SingleNotebook_initiator_id">
                          <option v-for="option in fieldsData.initiators" v-bind:value="option.user.id">{{ option.username }}</option>
                        </select>
                      </div>

                      <button type="button" class="btn btn-success" v-on:click="SingleNotebookSubmit()">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

              <div id="formEnsemble" v-show="forms.Ensemble.visible">
                <div class="panel">
                  <div class="panel-body">
                    <h3>Execute an ensemble with specific dataset</h3>
                    <form>

                      <div class="form-group">
                        <label for="">Ensemble</label>
                        <select class="js-select form-control" id="Ensemble_ensemble_id">
                          <option v-for="option in fieldsData.ensembles" v-bind:value="option.id">{{ option.name }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Datasets</label>
                        <select class="js-select form-control" id="Ensemble_datasets" multiple>
                          <option value=""></option>
                          <option v-for="option in formsDataSets.formB.datasets" v-bind:value="option.id">{{ option.description }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Initiator</label>
                        <select class="js-select form-control" id="Ensemble_initiator_id">
                          <option v-for="option in fieldsData.initiators" v-bind:value="option.user.id">{{ option.username }}</option>
                        </select>
                      </div>

                      <button type="button" class="btn btn-success" v-on:click="EnsembleSubmit()">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

              <div id="formBuildEnsemble" v-show="forms.BuildEnsemble.visible">
                <div class="panel">
                  <div class="panel-body">
                    <h3>Build an ensemble</h3>
                    <form>

                      <div class="form-group">
                        <label for="">Analytic Notebook</label>
                        <select class="js-select form-control" id="BuildEnsemble_analytic_notebook_id">
                          <option value=""></option>
                          <option v-for="option in selectData" v-bind:value="option.value">{{ option.text }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Notebook</label>
                        <select class="js-select form-control" id="BuildEnsemble_notebook_id">
                          <option v-for="option in fieldsData.notebooks" v-bind:value="option.id">{{ option.description }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Datasets</label>
                        <select class="js-select form-control" id="BuildEnsemble_datasets" multiple>
                          <option value=""></option>
                          <option v-for="option in formsDataSets.formC.datasets" v-bind:value="option.id">{{ option.description }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Initiator</label>
                        <select class="js-select form-control" id="BuildEnsemble_initiator_id">
                          <option v-for="option in fieldsData.initiators" v-bind:value="option.user.id">{{ option.username }}</option>
                        </select>
                      </div>

                      <button type="button" class="btn btn-success" v-on:click="BuildEnsembleSubmit()">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

              <div id="formAB" v-show="forms.AB.visible">
                <div class="panel">
                  <div class="panel-body">
                    <h3>A/B test</h3>
                    <form>

                      <div class="panel">
                        <div class="panel-body">
                          <h4>Side 1</h4>
                          <div class="form-group">
                            <label for="">Notebook</label>
                            <select class="js-select form-control" id="AB_side_1_notebook_id">
                              <option value=""></option>
                              <option v-for="option in fieldsData.notebooks" v-bind:value="option.id">{{ option.description }}</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="">Datasets</label>
                            <select class="js-select form-control" id="AB_side_1_datasets" multiple>
                              <option value=""></option>
                              <option v-for="option in fieldsData.datasets" v-bind:value="option.id">{{ option.description }}</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="panel">
                        <div class="panel-body">
                          <h4>Side 2</h4>
                          <div class="form-group">
                            <label for="">Notebook</label>
                            <select class="js-select form-control" id="AB_side_2_notebook_id">
                              <option value=""></option>
                              <option v-for="option in fieldsData.notebooks" v-bind:value="option.id">{{ option.description }}</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="">Datasets</label>
                            <select class="js-select form-control" id="AB_side_2_datasets" multiple>
                              <option value=""></option>
                              <option v-for="option in fieldsData.datasets" v-bind:value="option.id">{{ option.description }}</option>
                            </select>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <label for="">Initiator</label>
                        <select class="js-select form-control" id="AB_initiator_id">
                          <option v-for="option in fieldsData.initiators" v-bind:value="option.user.id">{{ option.username }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Analytic Notebook</label>
                        <select class="js-select form-control" id="AB_analytic_notebook_id">
                          <option value=""></option>
                          <option v-for="option in selectData" v-bind:value="option.value">{{ option.text }}</option>
                        </select>
                      </div>

                      <button type="button" class="btn btn-success" v-on:click="ABSubmit()">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

              <div id="formPerformanceAnalysis" v-show="forms.PerformanceAnalysis.visible">
                <div class="panel">
                  <div class="panel-body">
                    <h3>Execute a performance analysis</h3>
                    <form>

                      <div class="form-group">
                        <label for="">Analytic Notebook</label>
                        <select class="js-select form-control" id="PerformanceAnalysis_analytic_notebook_id">
                          <option value=""></option>
                          <option v-for="option in selectData" v-bind:value="option.value">{{ option.text }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                          <label for="">Date From</label>
                          <div class='input-group date datetimepicker' id='PerformanceAnalysis_date_from'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="">Date To</label>
                          <div class='input-group date datetimepicker' id='PerformanceAnalysis_date_to'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="">Notebooks</label>
                        <select class="js-select form-control" id="PerformanceAnalysis_notebooks">
                          <option value=""></option>
                          <option v-for="option in fieldsData.notebooks" v-bind:value="option.id">{{ option.description }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Initiator</label>
                        <select class="js-select form-control" id="PerformanceAnalysis_initiator_id">
                          <option v-for="option in fieldsData.initiators" v-bind:value="option.user.id">{{ option.username }}</option>
                        </select>
                      </div>

                      <button type="button" class="btn btn-success" v-on:click="PerformanceAnalysisSubmit()">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Date started</th>
                        <th>Status</th>
                        <th>Results</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="performance in performances">
                        <th>{{ performance.id }}</th>
                        <td>{{ performance.created_at }}</td>
                        <td>{{ performance.executed }}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="./app.js"></script>
  </body>
</html>